<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div>
          <ul class="list-group my-5" *ngFor="let post of posts">
            <li class="list-group-item">Title : <br> {{ post?.title }}</li>
            <li class="list-group-item">Comment : <br> {{ post?.body }}</li>
          </ul>
          <a
            style="margin-bottom: 50px"
            [routerLink]="['..']"
            class="btn btn-outline-success"
            >Go Back</a
          >
        </div>
      </div>
    </div>
  </div>
